@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body{
box-sizing: border-box;
margin: 0;
padding: 0;
background-image: url(images/pexel.jpg);
background-repeat: no-repeat;
background-size: 100%;


}
li,a {
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 20px;
color: azure;
text-decoration: none;

} 



#nav li{
display: inline-block;
padding: 15px;
}
 #nav li a:hover{
     color: cadetblue;
     border-bottom: 2px solid transparent;
     transition: border-bottom 60s;
 }
 
 #text{
    
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
   margin-left: auto;
   margin-top: 20px;

    color: white;
    font-family: "Montserrat", sans-serif;
 }
 #text{
     margin-top: 20px;
 }
 #title{
    font-family: "Montserrat", sans-serif;
     margin-left: 1500px;
     color:cadetblue;
 }
 #text h3{
     margin-top: 20px;
 }
 
#text h6{
    font-size: 20px;
    margin-top: 20px;
}
#text h5{
font-size: 20px;
margin-top: 20px;
       }
       
#text h4{

    margin-top: 20px;
}
#text h2{
font-size: 20px;

}

#text li{

    margin-bottom: 10px;

}
 

#text h4{

margin-bottom: 20px;

}

#text a:hover{

color:cadetblue

}

